<%= form_for(current_user.following_relationships.build, remote: true) do |f| %>
 <div><%= hidden_field_tag :followed_id, @user.id %></div>
 <%= f.submit "Follow", class: "btn btn-primary" %>
 <% end %>
 
 
 <%= form_for(current_user.favorite.build, remote: true) do |f| %>
 <div><%= hidden_field_tag :micropost_id, @micropst.id %></div>
 <%= f.submit "favorite", class: "btn btn-primary" %>
 <% end %>