<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
　   <div class="avator" style="text-align:center;">
         <%= gravatar_for @user %>
     </div>   
　     <h4><%= @user.name %></h4>
　       <span stye="display:in-block;">
　 　      <%= @user.profile%></span>
            <% if current_user == @user %>
　 　       <%= link_to '削除', user_path(@user), method: 'DELETE' %>
　 　       <% end %>
          <small><cite title="<%= @user.area %>"><%= @user.area %><i class="glyphicon glyphicon-map-marker"></i></cite></small>
           <p><i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
                        
                <% @followings = @user.following_users %>
                <% @followers = @user.follower_users %>
                        <div class="col-md-3"><span><% if @user.microposts.any? %>ツィート<br >（<%= @user.microposts.count %>）<% else %>ツィート<br >(0)<% end %></span> </div>
                        <div class="col-md-3"><span><%= link_to "フォロー" , followings_user_path(@user) %><br >(<%= @followings.count %>)</span></div>
                        <div class="col-md-3"> <span><%= link_to "フォロワー" , followers_user_path(@user) %><br >(<%= @followers.count %>)</span></div>
      
                
          <br />
         <% if current_user == @user %>
         <div class="col-md-6 col-md-offset-1">
           <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-primary" %>
         </div>
         <% end %>
　 　</section>
　</aside>
  <div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
    　<h3>Microposts (<%= @user.microposts.count %>)</h3>
       <ol class="microposts"> <!--#ここでRender @microposts　を読み込んでいる。なんでここから変わるのだろうか。。
       Showだからログインした後のページ。（ユーザーIDで持ってきている）-->
            <%= render partial: 'microposts/micropost', collection:@microposts %>
       </ol>
　  <% end %>               
  </div>
</div>