
<div class="row">
  <div class="col-md-3">
   <div class="well well-sm">  
     <div class="avator" style="text-align:center;">
       <%= gravatar_for @user %>
       </div>
     
      <%= form_for @user, :html => {:class=>"form-horizontal",:role=> "form"}  do |f| %>
       <h4><%= @user.name %></h4>
       <%= @user.profile%>
       <br />
       <small><cite title="<%= @user.area %>"><%= @user.area %><i class="glyphicon glyphicon-map-marker"></i></cite></small>
        <p>
        <i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
         <br />
         <div style="text-align:center;">
           <%= link_to 'edit', edit_user_path(@user), class: "btn btn-primary" %>
         </div>
      <% end %>
   </div>
  </div>
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-3">.col-md-3</div>
</div>