<div class="row">
  <aside class="col-md-4">
   <div class="well well-sm">        
    <section class="user_info">
　    
　   <div class="avator" style="text-align:center;">
        <%= gravatar_for @user %>
        </div>
　      <h4><%= @user.name %></h4>
　　   <span stye="display:in-block;">
　　   <%= @user.profile%></span>
       <small><cite title="<%= @user.area %>"><%= @user.area %><i class="glyphicon glyphicon-map-marker"></i></cite></small>
        <p>
        <i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
         <br />
         <div style="text-align:center;">
           <%= link_to 'edit', edit_user_path(@user), class: "btn btn-primary" %>
         </div>
　　</section>
　　</div>
　</aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
    　<h3>Microposts (<%= @user.microposts.count %>)</h3>
       <ol class="microposts">
           <%= render @microposts %>
       </ol>
　  <% end %>
  </div>
  
</div>
    


