<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "View my profile", current_user %></span><br />
 <% pluralize(current_user.microposts.count, "microposts") %>
 <div class="col-md-3"><span> ツィート<br />(<%= current_user.microposts.count %>)</span> </div>
        <% if current_user == @user %>         
                <% @followings = @user.following_users %>
                <% @followers = @user.follower_users %>
                <% @favorite = @user.favorite_microposts %>
               <div class="col-md-3"><span> <%= link_to "favorite" , favorites_user_path(@user) %><br />(<%= @favorite.count %>)</span> </div>
                <div class="col-md-3"><span><%= link_to "フォロー" , followings_user_path(@user) %><br />(<%= @followings.count %>)</span></div>
                <div class="col-md-3"><span><%= link_to "フォロワー" , followers_user_path(@user) %><br />(<%= @followers.count %>)</span> </div>              
        
               <% end %>
   
