<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "View my profile", current_user %></span>
        <% if current_user == @user %>         
                <% @followings = @user.following_users %>
                <% @followers = @user.follower_users %>
                <span><%= link_to "フォローしている" , followings_user_path(@user) %>(<%= @followings.count %>)</span>
                <span><%= link_to "フォローされている" , followers_user_path(@user) %>(<%= @followers.count %>)</span>
                <% end %>
<span><%= pluralize(current_user.microposts.count, "microposts") %></span>
