<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
 
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "you sure?" } %>
　　　<%= form_for @micropost,:url => {:action =>'retweet',:controller=>'microposts'} do |f| %>
　　　　　<%= f.text_area :content, :value => micropost.content %>
          <%= f.hidden_field :origin_id, :value => micropost.id %>
        　<%= f.submit "retweet" %>
      <% end %>
    
    </span>
</li> 