<!DOCTYPE html>
<html>
　 <head>
  　<title>Microposts</title>
  　<%= stylesheet_link_tag 'application', media: 'all' %>
  　<%= javascript_include_tag 'application' %>
  　<%= csrf_meta_tags %>
 　</head>
 　<style>
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
 　</style>
 　<body>
   　<%= render 'layouts/header' %>
    　<div class="container">
    　 <% flash.each do |message_type, message| %>
    　<div class="alert alert-<%= message_type %>"><%= message %></div>
      　 <% end %>
     　　 <%= yield %>
    　</div>
 　</body>
</html>